flows/EON_HQ_MeterRead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Market_Programming_Callout_to_ERP</name>
        <label>Market Programming - Callout to ERP</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <actionName>EON_Market_MeterRead</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>USid</name>
            <value>
                <elementReference>varUsageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Market_Callout_to_ERP_needed</name>
        <label>Market - Callout to ERP needed ?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CalloutNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Master_Data_of_current_User.ERP_Callout_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Market_Programming_Callout_to_ERP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Market_Customer_Notification_needed</name>
        <label>Market - Customer Notification needed ?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Market_Callout_to_ERP_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CustNot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Master_Data_of_current_User.ERP_Callout_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Market_Get_Email_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContractPicklist</name>
        <dataType>String</dataType>
        <displayField>MeterReadChoice__c</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>varContractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>MeterReadChoice__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formNow</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>EON-HQ-MeterRead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EON-HQ-MeterRead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meter_Read</name>
        <label>Create Meter Read</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>varUsageId</assignRecordIdToReference>
        <connector>
            <targetReference>Market_Customer_Notification_needed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EON_Meter_Point__c</field>
            <value>
                <elementReference>Meter_Read_Point</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EON_Meter_Read__c</field>
            <value>
                <elementReference>Meter_Read</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EON_Meter_Reading_Date__c</field>
            <value>
                <elementReference>formNow</elementReference>
            </value>
        </inputAssignments>
        <object>EON_Usage__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Master_Data_of_current_User</name>
        <label>Get Master Data of current User</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserInterface_for_Meter_Read</targetReference>
        </connector>
        <filters>
            <field>Organization_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.EON_Organization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MeterRead__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Market_Get_Email_Address</name>
        <label>Market - Get Email Address</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Market_declarative_Flow_Send_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>E_Mail__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>UserInterface_for_Meter_Read</name>
        <label>User Interface for Meter Read</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Meter_Read</targetReference>
        </connector>
        <fields>
            <name>PwCLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>PwC_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>160</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>600</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contract</name>
            <choiceReferences>ContractPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Meter_Read_Point</name>
            <dataType>Number</dataType>
            <fieldText>Meter Read Point:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Meter_Read</name>
            <dataType>Number</dataType>
            <fieldText>Meter Read</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Master_Data_of_current_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Market_declarative_Flow_Send_Email</name>
        <label>Market declarative Flow - Send Email</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Market_Callout_to_ERP_needed</targetReference>
        </connector>
        <flowName>EON_Market_MeterRead</flowName>
        <inputAssignments>
            <name>varEmailAddress</name>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUsageId</name>
            <value>
                <elementReference>varUsageId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUsageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
